<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load i18n %}
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <link rel="stylesheet" href="/static/style.css" />
    <title>{% block title %}{% trans "Step 10" %}{% endblock %}  </title>

{#<script type="text/javascript">#}
{##}
{#  var _gaq = _gaq || [];#}
{#  _gaq.push(['_setAccount', 'UA-20983710-1']);#}
{#  _gaq.push(['_trackPageview']);#}
{##}
{#  (function() {#}
{#    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;#}
{#    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';#}
{#    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);#}
{#  })();#}
{##}
{#</script>#}
{% block header %} {% endblock %}
</head>

<body>
    <div id="login">
        {% block login_block %}
{% if user.is_authenticated %}
 Добро пожаловать {{ user.username }} <a href="{{logouturl}}"> выйти</a>
<br>
{% else %}
 <a href="{{loginurl}}">войти</a>
{% endif %}            
        {% endblock %}
    </div>
    <div id="content">
        {% block content %}{% endblock %}
    </div>

    <div id="sidebar">
      <img src="/static/logo.png" width="100%" />
    <br>
    <br>
        Навигация:<br>
        <a href="/">Главная</a>
        <br>
        <br> <a href="/about/">О чем это ?</a>
        <br> 
        {% if user.is_authenticated %}
         <br><a href="/showMyResults"> Посмотреть историю ответов</a>
          {%  if user.is_staff %}
              <br><a href="/admin/"> Админка</a>
          {%  endif %}
        {% endif %}
    </div>

    <div id="footer">
        {% block footer %}<br> Разработка <a href="http://www.zeroowl.com">Zer0wL</a> {% endblock %}
    </div>


</body>
</html>