{% extends "base.html" %}

{% block header %}

<script src="http://www.google.com/jsapi" type="text/javascript"></script>
    <script>
      google.setOnLoadCallback(drawTable);
      google.load("visualization", "1", {packages:["table"]});

      google.setOnLoadCallback(drawTable);
      function drawTable() {

        var json_table = new google.visualization.Table(document.getElementById('table_div_json'));
        var json_data = new google.visualization.DataTable(
                {% autoescape off %}

                {{ json }}
        {% endautoescape %}
                , 0.5);
        json_table.draw(json_data, {showRowNumber: true});
      }
    </script>

 {% endblock %}
{% block content %}


    
<p>
История моих ответов:


    <div id="table_div_json"></div>
{% endblock %}
